
.pos-receipt .pos-receipt-contact {
    text-align: left;
    font-size: 95%;
}
.pos-receipt, .pos-receipt-amount {
    font-size: 10px !important;
}

.pos-receipt li.orderline {
    padding:0.2em !important;
}
.pos-receipt .pos-receipt-amount{
    font-weight: bold !important;
}
.pos-receipt .orderline .product-name{
    font-weight: normal !important;
}
.pos-receipt .orderline .product-price{
    font-weight: normal !important;
}
.pos-receipt .orderline .info-list .price-per-unit em{
    font-weight: normal !important;
}
.pos-receipt .pos-receipt-order-data p{
    margin-bottom:0 !important;
}
.pos-receipt .afip-cae-info{
    margin-top:10px !important;
}
.pos-receipt .afip-cae-info div img{
    width:120px !important;
    height:120px !important;
}